body {
  background-color: #000;
  color: #fff;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  text-align: center;
  align-items: center;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navbar-brand {
  text-transform: uppercase;
  font-family: 'Markazi Text', serif;
  font-size: 2.5rem;
  margin-bottom: 0;
  padding-bottom: 0;
}
.job-title {
  font-size: 1.1rem;
}
.location {
  font-size: 0.9rem;
}
.social-stip a:hover {
  color: #808080;
}
.intro {
  color: #808080;
}
.modal {
  color: #000;
}
.modal a {
  text-decoration: none;
  color: #000;
}
.modal a:hover {
  text-decoration: underline;
  color: #000;
}
.profilePic {
  border-radius: 50%;
}
.main {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: 3s;
}
.main a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
}
.main a:hover {
  text-decoration: underline;
}
.material a {
  font-size: 1.5rem;
}
.material {
  font-size: 1.5rem;
}
.modal-trigger:hover {
  text-decoration: underline;
  cursor: pointer;
}

.connect-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: darkred; 
    color: white; /* White text */
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6); /* Shadow for 3D effect */
}

.connect-button:hover {
    color: black;
    background-color: #D3D3D3; /* Slightly lighter dark gray on hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Adjust shadow on hover */
    transform: translateY(1px); /* Move button up slightly on hover */
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

