body {
  background-color: #000;
  color: #fff;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  text-align: center;
  align-items: center;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navbar-brand {
  text-transform: uppercase;
  font-family: 'Markazi Text', serif;
  font-size: 2.5rem;
  margin-bottom: 0;
  padding-bottom: 0;
}
.job-title {
  font-size: 1.1rem;
}
.location {
  font-size: 0.9rem;
}
.social-stip a:hover {
  color: #808080;
}
.intro {
  color: #808080;
}
.modal {
  color: #000;
}
.modal a {
  text-decoration: none;
  color: #000;
}
.modal a:hover {
  text-decoration: underline;
  color: #000;
}
.profilePic {
  border-radius: 50%;
}
.main {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: 3s;
}
.main a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
}
.main a:hover {
  text-decoration: underline;
}
.material a {
  font-size: 1.5rem;
}
.material {
  font-size: 1.5rem;
}
.modal-trigger:hover {
  text-decoration: underline;
  cursor: pointer;
}
